/************ Add-Articles **************/
.add-articles form {
    /* width: 200px; */
    margin: 30px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
}




/************ All-Articles **************/






/************ Update-Articles **************/



/************ Add-Articles **************/