form {
    /* width: 100px;
    margin: auto; */
    /* display: flex; */
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(205, 204, 204);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form input {
    /* width: 100%; */
    margin-right: 205px;
}

form .form-label {
    font-weight: 600;
    margin-bottom: 10px;
}